<%= form_for(@thesis) do |f| %>
    <% if @thesis.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@thesis.errors.count, "error") %> prohibited this thesis from being saved:</h2>

          <ul>
            <% @thesis.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :abstract %><br>
      <%= f.text_area :abstract, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :defended %><br>
      <%= f.date_select :defended %>
    </div>
    <div class="field form-group">
      <%= f.label :faculty %><br>
      <%= f.select :faculty_id, Faculty.all.collect { |f| [f.name, f.id] }, {include_blank: true}, {class: 'form-control'} %>
    </div>
    <div class="field form-group">
      <%= f.label :author %><br>
      <%= f.select :author_id, Person.all.collect { |f| [f.username, f.id] }, {include_blank: true}, {class: 'form-control'} %>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
<% end %>
