<p id="notice"><%= notice %></p>

<h1>Thesis <%= @thesis.id %></h1>

<div class="btn-group">
  <%= link_to 'Back', theses_path, class: 'btn btn-default' %>
  <%= link_to 'Edit', edit_thesis_path(@thesis), class: 'btn btn-primary' %>
</div>

<p>
  <strong>Title:</strong>
  <%= @thesis.title %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @thesis.abstract %>
</p>

<p>
  <strong>Defended:</strong>
  <%= @thesis.defended %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @thesis.faculty.try!(:name) %>
</p>

<p>
  <strong>Author:</strong>
  <%= @thesis.author.try!(:username) %>
</p>