<p id="notice"><%= notice %></p>

<h1>Listing Faculties</h1>

<div class="btn-group">
  <%= link_to 'New Faculty', new_faculty_path, class: 'btn btn-success' %>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.name %></td>
        <td><%= faculty.code %></td>
        <td>
          <%= link_to(faculty, class: 'btn btn-primary') do %>
              <span class="glyphicon glyphicon-eye-open"></span> Show
          <% end %>
          <%= link_to(edit_faculty_path(faculty), class: 'btn btn-warning') do %>
              <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %>
          <%= link_to(faculty, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger') do %>
              <span class="glyphicon glyphicon-trash"></span> Remove
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>